/* 
Author: Filip Kufalov
Date: 31.03.2022
File Name: style.css
*/

/* CSS Reset + Box Sizing Border  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Style rules for body and images */
body {
  background-color: #000;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for mobile version */

/* Style rules for header */
header {
  top: 0;
  background-color: #000;
  height: 190px;
}

header img {
  margin: 0 auto;
}

/* Style rules for navigation bar */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

ul {
  list-style-type: square;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  /* display: inline-block; */
  font-size: 1.3em;
  font-family: Francois One, sans-serif;
  /* border-top: 1px solid #fff; */
  /* font-weight: bold; */
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

nav li:first-child {
  border-top: none;
}

.map {
  border: 2px solid #000;
  width: 95%;
  height: 50%;
}


/* Main */
main {
  font-family: Roboto Slab, serif;
  background-color: #f2f2f2;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.15em;
  padding: 2%;
}

.mobile h3 {
  text-shadow: 5px 5px 8px #ccc;
}

main p {
  padding: 5px;
}

.tel-link {
  background-color: #404040;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #fff !important;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

.contact-email-link {
  color: #fff;
}

.hours {
  margin-left: 10%;
}

/* Footer */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

#contact {
  text-align: center;
}

#contact .contact-email-link {
  color: #660;
  text-decoration: none;
}

.action {
  font-size: 1.35em;
  color: #660;
  font-weight: bold;
  text-shadow: 5px 5px 8px #ccc;
}

.frame {
  position: relative;
  max-width: 450px;
  margin: 2% auto;
}

.pic-text {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.external-link {
  color: #660;
  font-weight: bold;
  text-decoration: none;
}

#intro {
  background-color: #fff;
  padding: 2%;
  font-size: 1.25em;
}

#weight,
#cardio,
#training {
  margin: 0 2%;
}

/* Show mobile class, hide tablet-desktop class */
@media screen and (min-width: 680px) {
  .mobile {
    display: none;
  }

  .tablet-desktop {
    display: block;
  }

  /* Tablet Viewport: Style rule for header */
  header {
    padding-bottom: 2%;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.1em 0.75em;
  }

  main ul {
    margin: 0 0 4% 10%;
  }

  #exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
  }

  #exercises dt {
    font-weight: bold;
  }

  #exercises dd {
    padding: 0.5% 1% 2% 0;
  }

  .tel-num {
    font-size: 1.25em;
  }

  .map {
    width: 600px;
    height: 450px;
  }

  .round {
    width: 100%;
    border-radius: 8px;
  }

  h1 {
    text-align: center;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  #hero {
    clear: both;
    position: relative;
  }

  #hero h2 {
    color: #fff;
    position: absolute;
    margin-left: 30px;
    text-transform: uppercase;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width:769px) {
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }

  nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
  }

  nav ul {
    text-align: right;
  }

  nav ul li {
    border: none;
  }

  nav ul li a {
    padding: 0.5em 1em;
  }

  /* Desktop Viewport: Style rules for main content */
  main {
    clear: both;
  }

  main h1 {
    font-size: 1.8em;
  }

  .pic-text {
    font-size: 1em;
  }

  .frame {
    opacity: 0.9;
  }

  .frame:hover {
    opacity: 1;
    box-shadow: 8px 8px 10px #808080;
  }

  #weight,
  #cardio,
  #training {
    /* display: grid;
      grid-template-columns: auto auto auto; */
    width: 29%;
    float: left;
    margin: 0 2%;
  }

  #exercises {
    clear: both;
  }
}

/* Media Query for Large Desktop */
@media screen and (min-width:1921px) {
  #container {
    width: 1920px;
    font-size: 2em;
  }

  .pic-text {
    font-size: 1.5em;
    padding: 20px;
  }
}
