/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   

    /* NAVBAR STYLING STARTS */
    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #35424A;
    color: #fff;
    border-bottom: groove;
    border-color: #E84A1D;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo a {
    color: white;
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #E84A1D;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #35424A;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #35424A;
   }
   .services:hover .dropdown {
    display: block;
   }
   /* BOXES */
   .boxes
   {
    display: flex;
    text-align: center;
    margin: 50px;
   }
   .boxes h3
   {
       margin: 5px;
   }
   /* Content */
   .content
   {
       margin: 50px;
       text-align: center;
   }
   .content div
   {
       margin: 25px;
   }
   .content h3, p
   {
       margin: 10px;
   }
   .content h2
   {
       text-align: left;
   }
   .servicecontent
   {
       background-color: #E6E6E6;
       padding: 15px;
       text-align: left;
   }
   .container
   {
       background-color: #35424A;
       color: white;
       display: flex;
       padding: 30px;
       justify-content: space-between;
   }
   /* Button & Inputbox */
   .btn {
    border: none;
    color: white;
    background-color: #E84A1D; 
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
   }
   .inputbox {
    border: none;
    color: white;
    background-color: #ffffff; 
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
   }
   #header-image-menu{
    position: relative;
    background-position: center;
    background:#35424A;
   }
   #header-image-menu img{
        width: 100%;
        object-fit: none;
        height: 50vh;
   }
   #image-text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Roboto';
        color: white;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: xxx-large;
   }
   .footer {
        background-color: #E84A1D;
        color: white;
        text-align: center;
        padding: 30px;
   }